{
    "resourceType" : "CodeSystem",
{{#url}}
    "url" : "{{{url}}}",
{{/url}}
{{#vers}}
    "version" : "{{{vers}}}",
{{/vers}}
{{#name}}
    "name" : "{{{name}}}",
{{/name}}
{{#title}}
    "title" : "{{{title}}}",
{{/title}}
{{#experimental}}
    "experimental" : "{{{experimental}}}",
{{/experimental}}
    "status" : "{{status}}",
    "content" : "{{content}}",
    "concept" : {{{concept}}}
}
