{
    "resourceType" : "ValueSet",
{{#url}}
    "url" : "{{{url}}}",
{{/url}}
{{#vers}}
    "version" : "{{{vers}}}",
{{/vers}}
{{#name}}
    "name" : "{{{name}}}",
{{/name}}
{{#title}}
    "title" : "{{{title}}}",
{{/title}}
{{#experimental}}
    "experimental" : "{{{experimental}}}",
{{/experimental}}
{{#date}}
    "date" : "{{{date}}}",
{{/date}}
{{#publisher}}
    "publisher" : "{{{publisher}}}",
{{/publisher}}
{{#description}}
    "description" : "{{{description}}}",
{{/description}}
    "status" : "{{status}}",
    "compose" : {
        "include" : [{
            "system" : "{{valuesetComposeIncludeSystem}}",
            "concept" : {{{concept}}}
        }]
    }
}
