{
    "resourceType" : "ValueSet",
    "status" : "{{status}}",
    "compose" : {
        "include" : [{
            "system" : "{{valuesetComposeIncludeSystem}}",
            "concept" : {{{concept}}}
        }]
    }
}
